@theme {
  /* Smoky Black (#0C0404ff) */
  --color-smoky-black-50: #f4f4f4;
  --color-smoky-black-100: #e4e4e4;
  --color-smoky-black-200: #c8c8c8;
  --color-smoky-black-300: #969696;
  --color-smoky-black-400: #4b4b4b;
  --color-smoky-black-500: #0c0404ff;
  --color-smoky-black-600: #0a0303;
  --color-smoky-black-700: #080202;
  --color-smoky-black-800: #060101;
  --color-smoky-black-900: #040000;

  /* Chocolate Cosmos (#511B20ff) */
  --color-chocolate-cosmos-50: #f9f4f4;
  --color-chocolate-cosmos-100: #f0e2e3;
  --color-chocolate-cosmos-200: #e2c4c6;
  --color-chocolate-cosmos-300: #d1a0a3;
  --color-chocolate-cosmos-400: #b46d73;
  --color-chocolate-cosmos-500: #511b20ff;
  --color-chocolate-cosmos-600: #47181d;
  --color-chocolate-cosmos-700: #3d1519;
  --color-chocolate-cosmos-800: #311115;
  --color-chocolate-cosmos-900: #250d10;

  /* Sinopia (#C93F00ff) */
  --color-sinopia-50: #fff5f0;
  --color-sinopia-100: #ffe4d6;
  --color-sinopia-200: #ffc2a3;
  --color-sinopia-300: #ff9966;
  --color-sinopia-400: #f2672d;
  --color-sinopia-500: #c93f00ff;
  --color-sinopia-600: #ad3600;
  --color-sinopia-700: #8f2d00;
  --color-sinopia-800: #722400;
  --color-sinopia-900: #541b00;

  /* Blood Red (#620400ff) */
  --color-blood-red-50: #fceeed;
  --color-blood-red-100: #f9d6d3;
  --color-blood-red-200: #f1a7a4;
  --color-blood-red-300: #e87473;
  --color-blood-red-400: #cf3d3b;
  --color-blood-red-500: #620400ff;
  --color-blood-red-600: #570300;
  --color-blood-red-700: #480200;
  --color-blood-red-800: #390200;
  --color-blood-red-900: #2b0100;

  /* Orange Web (#F7A20Fff) */
  --color-orange-web-50: #fffaf2;
  --color-orange-web-100: #fff2de;
  --color-orange-web-200: #ffe0b5;
  --color-orange-web-300: #ffcc80;
  --color-orange-web-400: #ffb347;
  --color-orange-web-500: #f7a20fff;
  --color-orange-web-600: #d98e0d;
  --color-orange-web-700: #b3790b;
  --color-orange-web-800: #8c6209;
  --color-orange-web-900: #664b07;

  /* Fire Engine Red (#CF2E29ff) */
  --color-fire-engine-red-50: #fef4f3;
  --color-fire-engine-red-100: #fde0dd;
  --color-fire-engine-red-200: #fbbab6;
  --color-fire-engine-red-300: #f78b86;
  --color-fire-engine-red-400: #f1544f;
  --color-fire-engine-red-500: #cf2e29ff;
  --color-fire-engine-red-600: #b42823;
  --color-fire-engine-red-700: #96221d;
  --color-fire-engine-red-800: #781c17;
  --color-fire-engine-red-900: #5a1512;
}

@media (min-width: 768px) {
  /* For tablets and larger screens */
  .text-heading {
    font-size: 2.5rem; /* 40px */
  }

  .text-subheading {
    font-size: 1.75rem; /* 28px */
  }

  .text-title {
    font-size: 1.5rem; /* 24px */
  }

  .text-body {
    font-size: 1.125rem; /* 18px */
  }

  .text-description {
    font-size: 1rem; /* 16px */
  }

  .text-caption {
    font-size: 0.875rem; /* 14px */
  }

  .text-button {
    font-size: 1.125rem; /* 18px */
  }

  .text-small {
    font-size: 0.75rem; /* 12px */
  }
}
